/* components/ListComponent.module.css */

.listContainer {
  list-style-type: none; /* This removes the bullet points */
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
}

.listItem {
    border-bottom: 1px solid #ccc; /* Light grey line */
    padding: 10px 0; /* Add some padding around each item */
  }
  
  .listItem:last-child {
    border-bottom: none; /* Remove bottom border from the last item */
  }

  

  